

/*----------------------------Slider---------------------------*/

.carousel-inner img {
    width: 100%;
    height: 100%;
  }

@media(min-width: 768px) and (max-width: 991.98px) {
    .tituloBanner{
    padding-bottom: 5%;
    font-size: 30%;
}
}

@media(min-width: 991.98px) {
    .tituloBanner{
    padding-bottom: 20%;
}
}




/*----------------------------Slider---------------------------*/


.soberaniaAlimentaria{
	padding-top: 100px;
	padding-bottom: 100px;
	padding-right: 50px;
	padding-left: 50px;
	text-align: center;
}

.soberaniaAlimentaria h2{
	color: #000000;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 50px;
	font-family: 'Lalezar', cursive;
}


.soberaniaAlimentaria h3{
	padding-top: 20px;
	color: #727272;
	font-family: 'Thasadith', sans-serif;
}

#btnMas{
	padding: 20px;
	margin-top: 50px;
	font-size: 30px;
	font-family: 'Thasadith', sans-serif;
}

/*Franjas con info para consumidores y productores*/
#comoConsumidor{
	background-color: #009f4d;
	height: 100px;
	text-align: center;
	text-transform: uppercase;
	color: white;	
}

#comoConsumidor h2{
	padding-top: 40px;
	font-size:40px;
	font-family: 'Lalezar', cursive;
}

#franjaCons{
	background-color: #009f4d;
	padding-top: 40px;
	color: white;
    text-align: center;
    padding-bottom: 30px;
}

#franjaCons h4{
	font-family: 'Thasadith', sans-serif;
    font-weight: bold;
}


/*---------------------------------------------------------------------*/
#comoProductor{
	height: 100px;
	text-align: center;
	text-transform: uppercase;
	color: #009f4d;
}

#comoProductor h2{
	padding-top: 40px;
	font-size:40px;
	font-family: 'Lalezar', cursive;
}

#franjaProd{
	color: #009f4d;
	padding-top: 40px;
	text-align: center;
    padding-bottom: 30px;    
}

#franjaProd h4{
	font-family: 'Thasadith', sans-serif;
    font-weight: bold;
}

/*-----------------Franja Unete--------------------*/
#franjaUnete{
    background-size: 1600px;
    height: 300px;
    background-image: url(file:///C:/Users/Psyndrome/Desktop/Espacio/EOI/Lahuertaencasa/coetus-emere/images/franja_lechuga.jpg); 
	margin-top: 200px;
}

.boton{
	padding: 20px;
	margin-top: 50px;
	font-size: 30px;
	font-family: 'Thasadith', sans-serif;
	margin-top:10%;
}

/*----------------Franja Unete--------------------*/
/*----------------Plato. Beneficios del consumo ecológico---------------*/
#alimentosEco {
	margin-top: 80px;
}
#alimentosEco h1{
	text-align: center;
	font-size: 50px;
	color: #009f4d;
	text-transform: uppercase;
	font-family: 'Lalezar', cursive;
}
#alimentosEco p{
	font-size: 18px;
}
#alimentosEco h4{
	font-size: 25px;
}
#txtPlato{
	margin-top: -900px;
}
.textoCirculo{	
	z-index: 3;
}
.circulo {
     width: 20px;
     height: 20px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #5cb85c;
}
#comeSaludable{
	width: 60%;
	display:block;
	margin:auto;
}
/*----------------/Plato. Beneficios del consumo ecológico---------------*/
/*----------------Suscríbete----------------------*/
#franjaSuscripcion{
	background-color: rgba(165, 167, 184, 0.2);
}
#suscribete{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 25px; 
	font-weight: 600;
	text-align: center;
	color: #646464;
}

#suscribete p{
	font-family: 'Thasadith', sans-serif;
}

#suscribete h4{
	padding-top: 20px;
	font-size: 40px !important;
	font-weight: 700 !important; 
	text-transform: uppercase;
}

.colorNews{
	color: #009f4d;
}



/*falta hacer responsive el formulario para que se mantenga en una sola línea*/
#formEmail form{	
	justify-content: center; 
}


#suscripcionEmail{
	padding: 10px;
	font-size: 30px;
	font-family: 'Thasadith', sans-serif;
	font-weight: 600;
	width: 40vw;
}

#btnSuscribir{
	padding: 10px;
	font-size: 30px;
	font-family: 'Thasadith', sans-serif;
	font-weight: 600;
	
}

/*-----------------------Suscríbete----------------------*/



/* ---------------------RESPONSIVE---------------*/
@media(max-width: 425px){
	.boton{
		padding: 20px;
		margin-top: 50px;
		font-size: 20px;
	}
	#suscripcionEmail{
		font-size: 15px;
	}
	#btnSuscribir{
		font-size: 15px;
		margin-top: -15px;	
	}
	.espacio{
		margin-top: 20px;
	}
}

/* ---------------------RESPONSIVE---------------*/
