body{
	background-color: #e9eac7;
}
#profileContent{
    min-height: 500px;
}
#contenedor{
	border: 3px solid #880404;
	margin-top: -150px;
	background-color: white;
}
#cabeceraPerfil{
	width: 100%;
	height: 350px;
	object-fit: cover;
	border-radius: 50px 50px 0px 0px;
	margin-top: 70px;
}
#imgPerfil{
	object-fit:cover;
	border-radius: 50%;
	height: 200px;
	width: 200px; 
	margin-top: 40px;
}
.btnStyle{
	margin-top: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #AFAFAF;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 15px;
	font-family: 'Thasadith', sans-serif;
	font-size: 20px;
	font-weight: bold;

}
#profileContent a:link{
	color: black; /*No funciona este estilo*/
}
#profileContent	a:hover{
	color: green;
	font-size: 25px;
	text-decoration: none;
	letter-spacing: 2px;
}

#apart1Btn{
	margin-top: 20px;
}
.profileInfo{
	margin-left: 15px;
}


/*----------------------CONTENIDO-----------------*/
.contenido{
	margin-top: 200px;
	padding-bottom: 100px;
}
.profileInfo h1{	
	font-weight: bolder;
	text-align: center;
	text-transform: uppercase;
	color: #054f28;
	font-size: 50px;
}
.profileInfo h2{
	font-family: 'Thasadith', sans-serif;
	font-weight: bold;
	color: #880404;
}
p{
	font-family: 'Thasadith', sans-serif;
	font-size: 20px;
}
.espacio{
	margin-left: 10px;
}
.espacio2{
	margin-left: 20px;
}
.enLinea{
	display: inline-block;
}
#nombre{
	margin-top: 25px;
}
#bloqueCp{
	margin-left: -20px;
}
.boton{
	font-family: 'Thasadith', sans-serif;
	font-size: 20px;
	font-weight: bold;
}
#btnSavePwd{
	margin-top: 20px
}
#btnSaveEmail{
	margin-top: 20px;
}
#btnCancelar{
	display: none;
	margin-right: 10px;
}
#btnGuardar{
	display: none;
}
footer{
	margin-top: 100px;
}