body{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#primary_nav_wrap
{
	margin-top:15px;
}

#tabledesign{
	width: 100%;
	height: 50px;
	background-color: rgb(5, 133, 5);
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul a
{
	display:block;
	color:white;
	text-decoration:none;
	font-size:18px;
	padding:13px 15px;
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:rgb(5, 133, 5);
}

#primary_nav_wrap ul li:hover:not(.icon):not(.buscador){
	background:rgb(199, 181, 19);
}


#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:rgb(88, 148, 11);
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px;
	border-block: 1px solid rgba(255, 255, 255, 0.5);
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap .current-menu-item a{
	padding: 12px 17px 0px 22px;
	background-color: rgb(145, 88, 53);
}

#primary_nav_wrap ul li:hover > ul
{
	display:block;
}

#primary_nav_wrap ul li:hover #primary_nav_wrap ul ul ul a{
	position: absolute;
	top: -1px;
}

.icon img{
	width: 40px;
	filter: drop-shadow(2px 2px 3px black);
	margin: -7px 0px 0px 0px;
}

.right li input{
	margin: 10px 57px 0px 0px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.3);
	border: 0;
	height: 26px;
	width: 400px;
}

.right{
	float: right;
}
.left{
	float: left;
}

footer{
	background-color: rgb(220, 243, 178);
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.redes i{
	font-size: 43px;
	color: rgb(5, 88, 5);
	padding: 10px 40px 10px 40px;
	filter: drop-shadow(1px 1px 1px black);
}

.redes{
	text-align: center;
}

#avisolegal{
	display: block;
	position: absolute;
	right: 28px;
	bottom: -4px;
}

#avisolegal a{
	text-decoration: none;
	font-size: 16px;
	padding: 0px 0px 9px 0px;
	display: block;
	color: rgb(5, 88, 5);
}