
.modal-dialog .modal-content {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    border: 0;
    border-radius: .125rem;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.modal-dialog.cascading-modal .modal-c-tabs .md-tabs {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    margin: -1.5rem 1rem 0 1rem;
    display: flex;
    }

.light-blue.darken-3 {
    background-color: #28a745 !important;
}

.light-blue {
    background-color: #03a9f4 !important;
}

.md-tabs {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    border: 0;
    padding: .7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: -20px;
    background-color: #2bbbad;
    z-index: 1;
    position: relative;
    border-radius: .25rem;
}

.modal-dialog.cascading-modal .modal-c-tabs .md-tabs li {
    flex: 1;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav li {
    list-style: none;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.modal-dialog.cascading-modal .modal-c-tabs .md-tabs li a {
    text-align: center;
    color: #fff;
}

.md-tabs .nav-item.open .nav-link, .md-tabs .nav-link.active {
    background-color: rgba(0,0,0,.2);
    color: #fff;
    transition: all 1s;
    border-radius: .25rem;
    border-color: #fff;
}

.nav-link:focus, .nav-link:hover {
    text-decoration: none;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.modal-dialog.cascading-modal .modal-c-tabs .tab-content {
    padding: 1.7rem 0 0 0;
}


.modal-dialog.cascading-modal .modal-body, .modal-dialog.cascading-modal .modal-footer {
    padding-left: 2rem;
    padding-right: 2rem;
    color: #616161;
}

.md-form {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.mb-5, .my-5 {
    margin-bottom: 3rem !important;
}

.mb-1, .my-1 {
    margin-bottom: .25rem !important;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.md-form.form-sm .prefix {
    top: .35rem;
    font-size: 1.5rem;
}
.md-form .prefix {
    position: absolute;
    transition: color .2s;
}

.md-form .prefix {
    top: .25rem;
    font-size: 1.75rem;
}

.fa, .fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.md-form.form-sm .prefix ~ input, .md-form.form-sm .prefix ~ textarea {
    width: calc(100% - 2rem);
}

.md-form input:not([type]), .md-form input[type="date"]:not(.browser-default), .md-form input[type="datetime-local"]:not(.browser-default), .md-form input[type="datetime"]:not(.browser-default), .md-form input[type="email"]:not(.browser-default), .md-form input[type="number"]:not(.browser-default), .md-form input[type="password"]:not(.browser-default), .md-form input[type="search-md"], .md-form input[type="search"]:not(.browser-default), .md-form input[type="tel"]:not(.browser-default), .md-form input[type="text"]:not(.browser-default), .md-form input[type="time"]:not(.browser-default), .md-form input[type="url"]:not(.browser-default), .md-form textarea.md-textarea {
    box-sizing: content-box;
    background-color: transparent;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: 0;
    box-shadow: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.md-form.form-sm .validate {
    margin-bottom: 2.3rem;
}

.md-form .prefix ~ input, .md-form .prefix ~ textarea {
    margin-left: 2.5rem;
    width: calc(100% - 2.5rem);
}

.md-form .validate {
    margin-bottom: 2.5rem;
}

.md-form .form-control1 {
    margin: 0 0 .5rem 0;
        margin-bottom: 0.5rem;
        margin-left: 0px;
    border-radius: 0;
    padding: .6rem 0 .4rem 0;
    background-color: transparent;
    height: auto;
}

.form-control-sm {
    height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.form-control1 {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.md-form.form-sm .prefix ~ label {
    margin-left: 2rem;
}

.md-form.form-sm label {
    font-size: .875rem;
}

.md-form .prefix ~ label {
    margin-left: 2.5rem;
}

.md-form label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    transition: transform .2s ease-out,color .2s ease-out;
    transform-origin: 0 100%;
    transform: translateY(12px);
    cursor: text;
    color: #757575;
}

.md-form label {
    font-size: 1rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.btn-outline-info {
    border: 2px solid #28a745 !important;
    background-color: #9c9f0038;
    color: #28a745;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
 }

 .btn-info {
 	color: #fff;
    background-color: #28a745;
    border-color: #28a745;
 }

 .btn-info:focus, .btn-info:hover {
    border: 2px solid #1f201f !important;
    background-color: #138496;
    color: #fff;
 }

a {
    color:#28a745;
}

a:focus, a:hover {
	color: #138496;
	text-decoration: none;
}

#botonLogin {
	color: #fff;
    background-color: #28a745;
    border-color: #28a745;
 }

 #botonLogin:focus, #botonLogin:hover {
    border: 2px solid #1f201f !important;
    background-color: #138496;
    color: #fff;
 }

.radio {
    text-align: center;

}

.radio-inline {
    margin:5px;
}


#checkbox624 {
    width:revert;
}

.checkinput {
    visibility: hidden;
    color: green;
    position:absolute;
    left:390px;
    font-size:20px;
}

.wronginput {
    visibility: hidden;
    color: red;
    position:absolute;
    left:390px;
    font-size:20px;
}


